################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.lock
/webticketsfabian/.vs/webticketsfabian/v16/Server/sqlite3/storage.ide
/webticketsfabian/.vs/webticketsfabian/config
/webticketsfabian/.vs/webticketsfabian/v16/Server/sqlite3/storage.ide-shm
*.ide-wal
